* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Operator Mono", sans-serif;
	background: linear-gradient(45deg, #f3e946, #f37646) center center no-repeat;
	color: white;
	font-size: 25px;
}

h4 {
	line-height: 3;
}

.app {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	/* 
	flex-direction: row; 
	*/
	height: 100vh;
	margin-top: 60px;
	padding: 0 60px;
}

.container {
	width: 70%;
}

.score {
	position: fixed;
	top: 40px;
	right: 0;
	width: 30%;
	height: 100vh;
	padding-left: 20px;
	/* background-color: red; */
}

.keyboard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

button {
	color: white;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

.keyboard button {
	width: 60px;
	line-height: 4;
	margin: 5px 5px 5px 0;
	border-radius: 2px;
	color: black;
	background-color: white;
}

.btn__new__game {
	background: linear-gradient(45deg, #f37646, #f3e946) center center no-repeat;
	margin: 20px 0;
	padding: 0 40px;
	line-height: 3;
	font-size: 16px;
}

.keyboard .keyboard__used {
	background-color: red;
	color: white;
}

.keyboard .keyboard__used__finded {
	background-color: green;
	color: white;
}

.current__word {
	letter-spacing: 10px;
	line-height: 3;
}

.current__word .finded {
	color: green;
}

.current__word span.lost {
	color: red;
}

.emoji__win {
	color: green;
}

.emoji__lost {
	color: red;
}

.life {
	background-color: white;
  color: black;
  padding: 2px 10px;
  border: 0;
  border-radius: 2px;
}

.life.critic {
	background-color: red;
	color: white;
}
